@using CarsClient.Models.Dto

@{
	ViewData["Title"] = "Купить электромобиль в Минске из Китая | Низкие цены";
	ViewData["activePage"] = "mainPage";
	ViewData["Keywords"] = "электромобили, купить электромобиль Минск,  электромобиль Беларусь, электромобиль Минск бу, отзывы электромобили, купить электромобили РФ, запчасти электромобиль, доставка Минск, кредит, лизинг, быстрая зарядка";
	ViewData["Description"] = "Электромобили известных брендов: Tesla, Lixiang, Volkswagen, Xiaomi, Xpeng и др. Доставка до 80 дней электромобилей из Китая. Оптимальные цены и широкий выбор. Отзывы и оценка пользователей. Кредит и лизинг.";
	Layout = "_Layout";
}
	@section Headers{
        <meta name="google-site-verification" content="9m_JgKJOvQZpEDhwMzi6ZQPj8irTWA9cYztx11Im3nE" />
        <meta name="yandex-verification" content="0d5369d25c231920" />
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();
		   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		   ym(96839387, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true
		   });
		</script>
        <noscript><div><img src="https://mc.yandex.ru/watch/96839387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
	}
	

	<div id="wrap_main_back">
		<div id="main_back">
		</div>
	</div>


	<div>
		<h1 id="filter_short_caption">
	Автомобиль в 3 шага
</h1>
    <div id="filter_container">
        <div id="filter_short_select_types_conainter" class="filter_select_item">
            <div id="_select_types_container">
                @foreach (var type in ((CarFilterConfig)ViewData["config"]).CarFilerTypeConfigs)
                {
                    <div class="filter_types_item">
                        <input type="checkbox" class="filter_index_type_input" id="@type.Id" value="@type.Id">
					    <label class="image-checkbox" for="@type.Id">
                            <img src="@type.ImageUrl" alt="Image type">
                            <div class="filter_types_caption">
                                @type.Name
                            </div>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div id="filter_selects_container">
            <div id="filter_select_powerReserves_conainter" class="filter_select_item">
                <div class="__select2" data-state="">
                    <div class="__select__title2" data-default="Запас хода">Запас хода</div>
                    <div class="__select__content2">
                        @foreach (var powerReserve in ((CarFilterConfig)ViewData["config"]).CarFilerPowerReserveConfigs)
                        {
                            <input id="@powerReserve.Id" class="__select__input2" type="checkbox" name="powerReserves" value="@powerReserve.Id"/>
                            <label for="@powerReserve.Id" class="__select__label2">@powerReserve.Name</label>
                        }
                    </div>
                </div>
            </div>
            <div id="filter_select_price_conainter" class="filter_select_item">
                <div class="__select2" data-state="">
                    <div class="__select__title2" data-default="Цена">Цена</div>
                    <div class="__select__content2">
                        @foreach (var price in ((CarFilterConfig)ViewData["config"]).CarFilerPriceConfigs)
                        {
                            <input id="@price.Id" class="__select__input2" type="checkbox" name="prices" value="@price.Id"/>
                            <label for="@price.Id" class="__select__label2">@price.Name</label>
                        }
                    </div>
                </div>
            </div>
        </div>
	<div id="filter_control_buttons" class="filter_control_buttons_container">
            <button id="filter_search">Подобрать авто</button>
        </div>
    </div>

		<div class="same_cars">
			<div class= "headers">
				Лучшие предложения
			</div>
			<div id="box_same_cars">
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/7898db90-52a4-42ce-a534-7c86087eda00"><img src="https://p3.dcarimg.com/img/tos-cn-i-dcdx/b4cef3f693ea4b87b1cdc642951d040b~1200x0.png" alt="no image"></a></div>
				<div id="name_same_car">Xiaomi SU 7 Max 2024</div>
					<div id="price_same_car">47 300$</div>
				<a href="car/7898db90-52a4-42ce-a534-7c86087eda00"><div class="same_button">Подробнее</div></a>
				</div>

				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/5c882b8b-6ad3-4e20-a639-c0d848fd87cd"><img src="https://p3.dcarimg.com/img/tos-cn-i-dcdx/e983d29025d946f8be51013a0911fafa~1200x0.webp" alt="no image"></a></div>
				<div id="name_same_car">LI L7 MAX 2024</div>
					<div id="price_same_car">55 000$</div>
				<a href="car/5c882b8b-6ad3-4e20-a639-c0d848fd87cd"><div class="same_button">Подробнее</div></a>
				</div>	

				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/7fc336bc-3ffc-454a-9aff-9a6fadff60ed"><img src="https://p3.dcarimg.com/img/motor-mis-img/b2d9da368314fca2f5e6af6550648131~1200x0.png" alt="no image"></a></div>
				<div id="name_same_car">Bestune NAT 2024</div>
					<div id="price_same_car">19 000$</div>
				<a href="car/7fc336bc-3ffc-454a-9aff-9a6fadff60ed"><div class="same_button">Подробнее</div></a>
				</div>

				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/1d1e2b4e-d781-479a-867d-12d57ca0c8d7"><img src="https://p3.dcarimg.com/img/tos-cn-i-dcdx/8e2a56ea30194ae1906f6c4dac0bfb1a~1200x0.webp" alt="no image"></a></div>
				<div id="name_same_car">Zeekr 001 YOU 2024</div>
					<div id="price_same_car">50 300$</div>
				<a href="car/1d1e2b4e-d781-479a-867d-12d57ca0c8d7"><div class="same_button">Подробнее</div></a>
				</div>	

				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/car/d68c03f5-5735-43a7-a81e-4ed8a3297a99"><img src="https://p3.dcarimg.com/img/tos-cn-i-dcdx/f828fd08acb64fe29d18ff5b4c4a9182~1200x0.png" alt="no image"></a></div>
				<div id="name_same_car">Arcfox Alpha T5 2024</div>
					<div id="price_same_car">31 000$</div>
				<a href="car/car/d68c03f5-5735-43a7-a81e-4ed8a3297a99"><div class="same_button">Подробнее</div></a>
				</div>
				
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/d2cc7769-8254-461e-b7ee-2770cd0d70c1"><img src="https://p3.dcarimg.com/img/motor-mis-img/29a9386687d14154243143d907b1a5cf~1200x0.webp" alt="no image"></a></div>
				<div id="name_same_car">Volkswagen ID.4 Croxx Prime 2024</div>
					<div id="price_same_car">34 000$</div>
				<a href="car/d2cc7769-8254-461e-b7ee-2770cd0d70c1"><div class="same_button">Подробнее</div></a>
				</div>					
			</div>	
		</div>
	</div>

		<section class="payment">
		<div class="payment_inner">
            <a href="@ViewData["pathPrefix"]delivery"><div class="payment_item1">
                <p>Доставка</p>
            </div></a>
            <a href="@ViewData["pathPrefix"]payment"><div class="payment_item2">
                <p>Оплата</p>
            </div></a>
            <a href="@ViewData["pathPrefix"]service"><div class="payment_item3">
                <p>Сервис</p>
            </div></a>
		</div>
	</section>

	<section class="help_deliv">
		<div class="container">
			<div class="help_inner">
				<div class="help_item">
					<h2>Поможем привезти <br> Ваш электромобиль!</h2>
					<p>
					ООО «Интеллект Трейдинг» - импортер подержанных электромобилей.
					Ваш авто - наша доставка. Организуем логистику внутри Китая, заберем от Вашего продавца, затаможим и доставим в Минск!					</p>
					<a href="@ViewData["pathPrefix"]delivery"><div class="help_button">Подробнее</div></a>
				</div>
				<div class="help_item">
					<img src="images/background/help_deliv.png" alt="" >
				</div>
			</div>
		</div>
	</section>

	<section class="telegram">
			<div class="headers">
				Наш блог в Telegram канале
			</div>
        <div class="telegram_inner">
            <a href="https://t.me/it_car_by_channel/916"><img src="images/news/xiaomi.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/828"><img src="images/news/voyah.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/913"><img src="images/news/comment.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/838"><img src="images/news/lixiang.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/869"><img src="images/news/nat.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/1016"><img src="images/news/xpeng.png" alt=""></a>
        </div>
	</section>
	
	<div>	
		<div class="container">
			<div class="headers">
				Свяжитесь с нами
			</div>
   			<form id="idform" class="form" method="POST" action="@ViewData["mailAddress"]">
        	<div class="form-group">
            	<input type="text" name="name" class="form-control" placeholder="Имя">
            	<input type="email" name="email" class="form-control" placeholder="Электронная почта">
        	</div>
        	<div class="form-group">
            	<input type="tel" name="phone" class="form-control" placeholder="Телефон" required>
            	<input type="text" name="budget" class="form-control" placeholder="Ваш бюджет">
        	</div>
        	<div class="form-group">
            	<textarea name="request" id="textar" cols="60" rows="6" placeholder="Пожалуйста, оставьте свои требования и пожелания, мы свяжемся в Вами в ближайшее время *"></textarea>
        	</div>
        	<button type="reset">Очистить</button>
        	<button type="submit">Отправить</button>
    		</form>
		</div>
	</div>
	<div class="map_main">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2196.7221130178327!2d27.502300476542782!3d53.83595536651224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd173855d3217%3A0x35f20a3bfa1259a6!2sFormula%20EV!5e0!3m2!1sru!2sby!4v1712149692449!5m2!1sru!2sby" width="100%" height="100%" style="border:0; border-radius:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
    <!-- </div>
    </div> -->

    @section AfterBody{
        <script src="js/carShortFilter.js"></script>
    }
	<!-- </div>	
	</div> -->
	