@using CarsClient.Models.Dto

@{
	ViewData["Title"] = "Купить электромобиль в Минске из Китая | Низкие цены";
	ViewData["activePage"] = "mainPage";
	ViewData["Keywords"] = "электромобили, купить электромобиль Минск,  электромобиль Беларусь, электромобиль Минск бу, отзывы электромобили, купить электромобили РФ, запчасти электромобиль, доставка Минск, кредит, лизинг, быстрая зарядка";
	ViewData["Description"] = "Электромобили известных брендов: Tesla, Lixiang, Volkswagen, Xiaomi, Xpeng и др. Доставка до 80 дней электромобилей из Китая. Оптимальные цены и широкий выбор. Отзывы и оценка пользователей. Кредит и лизинг.";
	Layout = "_Layout";
}
	@section Headers{
        <meta name="google-site-verification" content="9m_JgKJOvQZpEDhwMzi6ZQPj8irTWA9cYztx11Im3nE" />
        <meta name="yandex-verification" content="0d5369d25c231920" />
	}
	

	<div id="wrap_main_back">
		<div id="main_back">
		</div>
	</div>


	<div>
		<h1 id="filter_short_caption">
	Подобрать автомобиль
</h1>
    <div id="filter_container">
        <div id="filter_short_select_types_conainter" class="filter_select_item">
            <div id="_select_types_container">
                @foreach (var type in ((CarFilterConfig)ViewData["config"]).CarFilerTypeConfigs)
                {
                    <div class="filter_types_item">
                        <input type="checkbox" class="filter_index_type_input" id="@type.Id" value="@type.Id">
					    <label class="image-checkbox" for="@type.Id">
                            <img src="@type.ImageUrl" alt="Image type">
                            <div class="filter_types_caption">
                                @type.Name
                            </div>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div id="filter_selects_container">
            <div id="filter_select_powerReserves_conainter" class="filter_select_item">
                <div class="__select2" data-state="">
                    <div class="__select__title2" data-default="Запас хода">Запас хода</div>
                    <div class="__select__content2">
                        @foreach (var powerReserve in ((CarFilterConfig)ViewData["config"]).CarFilerPowerReserveConfigs)
                        {
                            <input id="@powerReserve.Id" class="__select__input2" type="checkbox" name="powerReserves" value="@powerReserve.Id"/>
                            <label for="@powerReserve.Id" class="__select__label2">@powerReserve.Name</label>
                        }
                    </div>
                </div>
            </div>
            <div id="filter_select_price_conainter" class="filter_select_item">
                <div class="__select2" data-state="">
                    <div class="__select__title2" data-default="Цена">Цена</div>
                    <div class="__select__content2">
                        @foreach (var price in ((CarFilterConfig)ViewData["config"]).CarFilerPriceConfigs)
                        {
                            <input id="@price.Id" class="__select__input2" type="checkbox" name="prices" value="@price.Id"/>
                            <label for="@price.Id" class="__select__label2">@price.Name</label>
                        }
                    </div>
                </div>
            </div>
        </div>
	<div id="filter_control_buttons" class="filter_control_buttons_container">
            <button id="filter_search">Подобрать авто</button>
        </div>
    </div>
		<div class="same_cars">
			<div class= "headers">
				Лучшие предложения
				<!-- <div id="name_same">Лучшие предложения</div> -->
			</div>
			<div id="box_same_cars">
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/7fc336bc-3ffc-454a-9aff-9a6fadff60ed"><img src="https://p9-dcd.byteimg.com/motor-mis-img/c6eecfca168251c6b1f27d14c829229b~tplv-f042mdwyw7-original:750:0.jpg" alt="no image"></a></div>
				<div id="name_same_car">Bestune NAT</div>
					<div id="price_same_car">Белый</div>
				<a href="car/7fc336bc-3ffc-454a-9aff-9a6fadff60ed"><div class="same_button">Подробнее</div></a>
				</div>
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/5c882b8b-6ad3-4e20-a639-c0d848fd87cd"><img src="https://p3.dcarimg.com/img/motor-mis-img/5ae262e8d85c35bae7d83f29ae7d2305~2508x0.jpg" alt="no image"></a></div>
				<div id="name_same_car">LI L7 MAX</div>
					<div id="price_same_car">Белый</div>
				<a href="car/5c882b8b-6ad3-4e20-a639-c0d848fd87cd"><div class="same_button">Подробнее</div></a>
				</div>	
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/1d1e2b4e-d781-479a-867d-12d57ca0c8d7"><img src="https://p3.dcarimg.com/img/motor-mis-img/5f1a139ed6016243bf353abbf0d067ee~2508x0.jpg" alt="no image"></a></div>
				<div id="name_same_car">Zeekr 001 YOU</div>
					<div id="price_same_car">Серый</div>
				<a href="car/1d1e2b4e-d781-479a-867d-12d57ca0c8d7"><div class="same_button">Подробнее</div></a>
				</div>			
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/d2cc7769-8254-461e-b7ee-2770cd0d70c1"><img src="https://p3.dcarimg.com/img/motor-mis-img/2d355b11a1f26d3f27fc2ece627128e4~2508x0.jpg" alt="no image"></a></div>
				<div id="name_same_car">ID.4 CROZZ PRIME</div>
					<div id="price_same_car">Белый</div>
				<a href="car/d2cc7769-8254-461e-b7ee-2770cd0d70c1"><div class="same_button">Подробнее</div></a>
				</div>					
			</div>	
		</div>
	</div>








	<section class="who_we">
		<div class="container">
			<div class="headers4">
				Кто мы такие?
			</div>
			<div class="about_inner">
				<div class="about_item">
					<h2>Наша компания</h2>
					<p>
					ООО «Интеллект Трейдинг» - официальный импортер подержанных электромобилей.
 					Мы создали Formula EV — сайт, на котором пользователи могут свободно оценивать электромобили.
					<br><br>
					Перед покупкой важно посмотреть не рекламные ролики, а проблемы, с которыми столкнулись реальные пользователи. Правильный выбор – это половина дела!Остальное оставьте нам: консультацию по модели автомобиля, заказ, финансирование, лизинг, логистику, таможенное оформление.
					<br><br>
					Кроме того, в ближайшее время мы предложим услуги быстрой 180 кВт зарядки в торговом центре Сеница.
					<br><br>
					Formula EV - выбирайте лучшее!
					</p>
				</div>
				<div class="about_item" id="about_item1">
					<img src="images/background/company.png" alt="" >
				</div>


				<div class="about_item"  id="about_item2">
					<img src="images/background/showroom.png" alt="" >
				</div>


				<div class="about_item">
					<h2>Наш шоурум</h2>
					<p>
					ООО «Интеллект Трейдинг» - официальный импортер подержанных электромобилей.
 					Мы создали Formula EV — сайт, на котором пользователи могут свободно оценивать электромобили.
					<br><br>
					Перед покупкой важно посмотреть не рекламные ролики, а проблемы, с которыми столкнулись реальные пользователи. Правильный выбор – это половина дела!Остальное оставьте нам: консультацию по модели автомобиля, заказ, финансирование, лизинг, логистику, таможенное оформление.
					<br><br>
					Кроме того, в ближайшее время мы предложим услуги быстрой 180 кВт зарядки в торговом центре Сеница.
					<br><br>
					Formula EV - выбирайте лучшее!
					</p>
				</div>
				
			</div>
		</div>
	</section>







	<section class="payment">
		<div class="payment_inner">
            <a href="https://t.me/it_car_by_channel/916"><div class="payment_item1">
                <p>Доставка</p>
            </div></a>
            <a href="https://t.me/it_car_by_channel/916"><div class="payment_item2">
                <p>Оплата</p>
            </div></a>
            <a href="https://t.me/it_car_by_channel/916"><div class="payment_item3">
                <p>Сервис</p>
            </div></a>
		</div>
	</section>

	<div class="statistica">
		<div class="container">
			<div class="statistica_holder">
				<div class="statistica_info">
					<div class="statistica_title">
						<h1>Электромобили из Китая</h1>
					</div>
					<div class="statistica_number">
                        <div class="number_item">
						    <span>40+ </span>
                            <span>отобранных автомобилей</span>
                        </div>
                        <div class="number_item">
						    <span>до 90 </span>
                            <span>дней срок поставки</span>
                        </div>
                        <div class="number_item">
						    <span>c 2021</span>
                            <span>года на рынке</span>
                        </div>
					</div>
					<div class="statistica_btn">
						<a href="@ViewData["pathPrefix"]passenger"><div class="statistica_button">Подобрать авто</div></a>
					</div>
				</div>
				<div class="statistica_img">
					<img src="images/news/VW.PNG" alt="" width="800">
				</div>
			</div>
		</div>
	</div>

	<section class="telegram">
			<div class="headers">
				Наш блог в Telegram канале
			</div>
		<!-- <div class="container">
		</div> -->
        <div class="telegram_inner">
            <a href="https://t.me/it_car_by_channel/916"><img src="images/news/xiaomi.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/828"><img src="images/news/voyah.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/913"><img src="images/news/comment.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/838"><img src="images/news/lixiang.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/869"><img src="images/news/nat.png" alt=""></a>
            <a href="https://t.me/it_car_by_channel/1016"><img src="images/news/xpeng.png" alt=""></a>
        </div>
	</section>

	<section class="help_deliv">
		<div class="container">
			<div class="help_inner">
				<div class="help_item">
					<h2>Поможем привезти <br> Ваш электромобиль!</h2>
					<p>
					ООО «Интеллект Трейдинг» - официальный импортер подержанных электромобилей.
 					Мы создали Formula EV — сайт, на котором пользователи могут свободно оценивать электромобили.
					</p>
					<a href="cars/C_HR_EV"><div class="help_button">Подробнее</div></a>
				</div>
				<div class="help_item">
					<img src="images/background/help_deliv.png" alt="" >
				</div>
			</div>
		</div>
	</section>

	<div class="tg_block_link">
		<div class="container">
			<div class="tg_block_holder">
				<div class="left_tg">
					<div class="left_tg_title">Присоединяйтесь к нашему телеграм-каналу</div>
					<div class="left_tg_text">В наш телеграм-канал мы постоянно публикуем интересные и полезные статьи из мира EV, актуальные цены на различные модели электромобилей, обзоры, а также оповещаем Вас о новых поступлениях в нашем шоуруме!</div>
				</div>
				<div class="right_tg">
					<div class="right_tg_btn">
						<a href="https://t.me/it_car_by_channel" class="right_tg_button">Подписаться</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div>	
		<div class="container">
			<div class="headers">
				Свяжитесь с нами
			</div>
   			<form id="idform" class="form" method="POST" action="@ViewData["mailAddress"]">
        	<div class="form-group">
            	<input type="text" name="name" class="form-control" placeholder="Имя" required>
            	<input type="email" name="email" class="form-control" placeholder="Электронная почта" required>
        	</div>
        	<div class="form-group">
            	<input type="tel" name="phone" class="form-control" placeholder="Телефон">
            	<input type="text" name="budget" class="form-control" placeholder="Ваш бюджет">
        	</div>
        	<div class="form-group">
            	<textarea name="request" id="textar" cols="60" rows="6" placeholder="Пожалуйста, оставьте свои требования и пожелания, мы свяжемся в Вами в ближайшее время *" required></textarea>
        	</div>
        	<button type="reset">Очистить</button>
        	<button type="submit">Отправить</button>
    		</form>
		</div>
	</div>
	<div class="map_main">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d973.5807877325742!2d27.50418152981076!3d53.83566256362331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd183f4119073%3A0x662f6af61a8167c2!2z0KLQpiDQodCV0J3QmNCm0JA!5e0!3m2!1sru!2sby!4v1707833167005!5m2!1sru!2sby" width="100%" height="100%" style="border:0; border-radius:15px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
    <!-- </div>
    </div> -->

    @section AfterBody{
        <script src="js/carShortFilter.js"></script>
    }
	<!-- </div>	
	</div> -->
	