@using CarsClient.Models.Dto

@{
	ViewData["Title"] = "Купить электромобиль в Минске из Китая | Низкие цены";
	ViewData["activePage"] = "mainPage";
	ViewData["Keywords"] = "электромобили, купить электромобиль Минск,  электромобиль Беларусь, электромобиль Минск бу, отзывы электромобили, купить электромобили РФ, запчасти электромобиль, доставка Минск, кредит, лизинг, быстрая зарядка";
	ViewData["Description"] = "Электромобили известных брендов: Tesla, Lixiang, Volkswagen, Xiaomi, Xpeng и др. Доставка до 80 дней электромобилей из Китая. Оптимальные цены и широкий выбор. Отзывы и оценка пользователей. Кредит и лизинг.";
	Layout = "_Layout";
}
	@section Headers{
        <meta name="google-site-verification" content="9m_JgKJOvQZpEDhwMzi6ZQPj8irTWA9cYztx11Im3nE" />
        <meta name="yandex-verification" content="0d5369d25c231920" />
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript" >
		   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		   m[i].l=1*new Date();
		   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		   ym(96839387, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true,
				webvisor:true
		   });
		</script>
        <noscript><div><img src="https://mc.yandex.ru/watch/96839387" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
	}
	

<div id="wrap_main_back">
    <div id="main_back">
        <!-- <h1 style=" margin-left: 40px; margin-top: 11px; margin-bottom: 90px; margin-right: 40px;">Электромобили</h1> -->
        <!-- <h2 style=" margin-top: 35px; margin-bottom: 40px; margin-left: 40px; margin-right: 40px;">из Китая</h2> -->
    </div>
</div>
<h1 id="filter_short_caption">
	Подобрать автомобиль
</h1>
    <div id="filter_container">
        <div id="filter_short_select_types_conainter" class="filter_select_item">
            <div id="_select_types_container">
                @foreach (var type in ((CarFilterConfig)ViewData["config"]).CarFilerTypeConfigs)
                {
                    <div class="filter_types_item">
                        <input type="checkbox" class="filter_index_type_input" id="@type.Id" value="@type.Id">
					    <label class="image-checkbox" for="@type.Id">
                            <img src="@type.ImageUrl" alt="Image type">
                            <div class="filter_types_caption">
                                @type.Name
                            </div>
                        </label>
                    </div>
                }
            </div>
        </div>
        <div id="filter_selects_container">
            <div id="filter_select_powerReserves_conainter" class="filter_select_item">
                <div class="__select2" data-state="">
                    <div class="__select__title2" data-default="Запас хода">Запас хода</div>
                    <div class="__select__content2">
                        @foreach (var powerReserve in ((CarFilterConfig)ViewData["config"]).CarFilerPowerReserveConfigs)
                        {
                            <input id="@powerReserve.Id" class="__select__input2" type="checkbox" name="powerReserves" value="@powerReserve.Id"/>
                            <label for="@powerReserve.Id" class="__select__label2">@powerReserve.Name</label>
                        }
                    </div>
                </div>
            </div>
            <div id="filter_select_price_conainter" class="filter_select_item">
                <div class="__select2" data-state="">
                    <div class="__select__title2" data-default="Цена">Цена</div>
                    <div class="__select__content2">
                        @foreach (var price in ((CarFilterConfig)ViewData["config"]).CarFilerPriceConfigs)
                        {
                            <input id="@price.Id" class="__select__input2" type="checkbox" name="prices" value="@price.Id"/>
                            <label for="@price.Id" class="__select__label2">@price.Name</label>
                        }
                    </div>
                </div>
            </div>
        </div>
	<div id="filter_control_buttons" class="filter_control_buttons_container">
            <button id="filter_search">Подобрать авто</button>
        </div>
    </div>
    <div class="headers">
        Как мы работаем?
    </div>
        @{
		/*
		 @foreach (var type in ((CarFilterConfig)ViewData["config"]).CarFilerTypeConfigs)
		   {
		       <div class="filter_types_item">
		           <label class="image-checkbox" id="checkboxLabel">
		               <input type="checkbox" id="filterType" onchange="changeBackgroundColor()" value="@type.Id">
		               <img src="@type.ImageUrl" alt="Image type">
		           </label>
		           <div class="filter_types_caption">
		               @type.Name
		           </div>
		       </div>
		   }
		 
		 */
    }
   
    
	<div id="we-are">
		<div class="one-of-we">
			<img src="images/icons/1.png" alt="">
			<div>
				Тщательно и заботливо подбираем авто каждому клиенту
			</div>
		</div>
		<!-- <div class="gray_vert_line"></div> -->
		<div class="one-of-we">
			<img src="images/icons/contract.png" alt="">
			<div>
				Заключаем договор
			</div>
		</div>
		<!-- <div class="gray_vert_line"></div> -->
		<div class="one-of-we">
			<img src="images/icons/2.png" alt="">
			<div>
				Доставляем авто из Китая в Минск
			</div>
		</div>
		<!-- <div class="gray_vert_line"></div> -->
		<div class="one-of-we">
			<img src="images/icons/3.png" alt="">
			<div>
				Оформляем авто под ключ
			</div>
		</div>
		<!-- <div class="gray_vert_line"></div> -->
		<div class="one-of-we">
			<img src="images/icons/5.png" alt="">
			<div>
				Занимаемся послепродажным обслуживанием авто
			</div>
		</div>
	</div>
	<div style="background-color: #ffffff; width: 100%; padding-bottom: 50px; margin-top: 50px; padding-top: 50px;">
		<div class="same_cars">
			<div class= "backgr_name">
				<div id="name_same">Лучшие предложения</div>
			</div>
			<div id="box_same_cars">
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/7fc336bc-3ffc-454a-9aff-9a6fadff60ed"><img src="https://p9-dcd.byteimg.com/motor-mis-img/c6eecfca168251c6b1f27d14c829229b~tplv-f042mdwyw7-original:750:0.jpg" alt="no image"></a></div>
				<div id="name_same_car">Bestune NAT</div>
					<div id="price_same_car">Белый</div>
				<a href="car/7fc336bc-3ffc-454a-9aff-9a6fadff60ed"><div class="same_button">Подробнее</div></a>
				</div>
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/5c882b8b-6ad3-4e20-a639-c0d848fd87cd"><img src="https://p3.dcarimg.com/img/motor-mis-img/5ae262e8d85c35bae7d83f29ae7d2305~2508x0.jpg" alt="no image"></a></div>
				<div id="name_same_car">LI L7 MAX</div>
					<div id="price_same_car">Белый</div>
				<a href="car/5c882b8b-6ad3-4e20-a639-c0d848fd87cd"><div class="same_button">Подробнее</div></a>
				</div>	
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/1d1e2b4e-d781-479a-867d-12d57ca0c8d7"><img src="https://p3.dcarimg.com/img/motor-mis-img/5f1a139ed6016243bf353abbf0d067ee~2508x0.jpg" alt="no image"></a></div>
				<div id="name_same_car">Zeekr 001 YOU</div>
					<div id="price_same_car">Серый</div>
				<a href="car/1d1e2b4e-d781-479a-867d-12d57ca0c8d7"><div class="same_button">Подробнее</div></a>
				</div>			
				<div class="list_same_cars">
				<div style="overflow: hidden;"><a href="car/d2cc7769-8254-461e-b7ee-2770cd0d70c1"><img src="https://p3.dcarimg.com/img/motor-mis-img/2d355b11a1f26d3f27fc2ece627128e4~2508x0.jpg" alt="no image"></a></div>
				<div id="name_same_car">ID.4 CROZZ PRIME</div>
					<div id="price_same_car">Белый</div>
				<a href="car/d2cc7769-8254-461e-b7ee-2770cd0d70c1"><div class="same_button">Подробнее</div></a>
				</div>					
			</div>	
		</div>
	</div>

	<div class="info_main">
		<div>Компания <b>«Formula EV»</b> – это компания будущего. Мы занимаемся поиском и доставкой электромобилей из Китая. В нашу работу входит не только доставка, а также подбор качественных и надежных моделей электромобилей, организация их транспортировки и доставки, а также предоставление гарантий на продукцию. Мы стремимся быть лидерами в области экологически чистого транспорта и постоянно развиваемся, внедряя новые технологии и улучшая качество наших услуг. Наша команда профессионалов всегда готова помочь нашим клиентам и ответить на все вопросы, связанные с приобретением электромобиля. Электромобили – это наше будущее. Они не только экологически чисты, но и экономичны в использовании. Мы стремимся сделать электромобили доступными для всех, чтобы каждый мог внести свой вклад в сохранение окружающей среды и экономию на топливе. Мы гордимся тем, что наша работа помогает сделать мир лучше и заботиться о будущих поколениях. </div>
	</div>

	<div class="headers">
		Наш блог Formula EV в Telegram
	</div>
	<div id="we-are">
		<div class="one-of-we2">
			<div class="tg_news">
				<a href="https://t.me/it_car_by_channel/791?single"><img src="images/news/1.jpg" alt=""></a>
			</div>
			<div>
				<a href="https://t.me/it_car_by_channel/791?single"><div class="tg_link">Новый Volkswagen ID.4 Crozz Prime уже в Минске</div></a>
			</div>
		</div>
		<div class="one-of-we2">
			<div class="tg_news">
				<a href="https://t.me/it_car_by_channel/775"><img src="images/news/2.jpg" alt=""></a>
			</div>
			<div>
				<a href="https://t.me/it_car_by_channel/775"><div class="tg_link">Успешная перепрошивка Volkswagen ID.4</div></a>
			</div>
		</div>
		<div class="one-of-we2">
			<div class="tg_news">
				<a href="https://t.me/it_car_by_channel/728"><img src="images/news/3.jpg" alt=""></a>
			</div>
			<div>
				<a href="https://t.me/it_car_by_channel/728"><div class="tg_link">Поступление зимней резины для любой модели</div></a>
			</div>
		</div>
		<div class="one-of-we2">
			<div class="tg_news">
				<a href="https://t.me/it_car_by_channel/789"><img src="images/news/4.jpg" alt=""></a>
			</div>
			<div>
				<a href="https://t.me/it_car_by_channel/789"><div class="tg_link">Выдача Tesla Model Y Dual Motor 2023</div></a>
			</div>
		</div>
	</div>

		<div style="background-color: #ffffff; width: 100%; padding-top: 50px; padding-bottom: 10px;">
		<div class="same_cars">
			<div class="backgr_name">
				<div id="name_same">Наш телеграм-канал</div>
				<h1>Электромобили из Китая</h1>
			</div>
			<div id="our_telegram_chanel">В нашем телеграм-канале мы постоянно выкладываем новые предложения, различные обзоры электричек, актуальные цены, различные аксесуары для Ваших электрокаров!</div>
				<div id="link_telchanel">
					<a href="https://t.me/it_car_by_channel"><div class="same_button2">Перейти на канал</div></a>
				</div>
			</div>
		</div>
	</div>

	<div class="reviews">
		<div class="headers2">
			Видеоотзывы наших покупателей
		</div>
		<div class="video_info">
			Отзывы покупателей – это сердце нашего бизнеса! Мы ценим каждого клиента и стремимся обеспечить высочайшее качество услуг, а также непревзойденный уровень обслуживания. Отзывы наших клиентов – это источник вдохновения для нас, помогающий совершенствоваться и расти. Мы гордимся тем, что наши электромобили приносят удовлетворение и радость нашим клиентам. Отзывы, которые мы получаем, помогают нам понимать потребности и ожидания наших покупателей еще лучше.
		</div>
		<div class="info_reviews">
			<div class="one-of-we2">
				<div class="video_reviews">
					<video style="width: 300px; height: 300px;" src="images/news/3.mp4" controls></video>
				</div>
				<!-- <div>
					<div class="video_link">Занимаемся послепродажным обслуживанием авто</div>
				</div> -->
			</div>
			<div class="one-of-we2">
				<div class="video_reviews">
					<video style="width: 300px; height: 300px;" src="images/news/1.mp4" controls></video>
				</div>
				<!-- <div>
					<div class="video_link">Занимаемся послепродажным обслуживанием авто</div>
				</div> -->
			</div>
			<div class="one-of-we2">
				<div class="video_reviews">
					<video style="width: 300px; height: 300px;" src="images/news/2.mp4" controls></video>
				</div>
				<!-- <div>
					<div class="video_link">Занимаемся послепродажным обслуживанием авто</div>
				</div> -->
			</div>
		</div>
	</div>

		<!-- <div class="one-of-we2">
				<img src="images/news/1.jpg" alt="">
					<div>
						Тщательно и заботливо подбираем авто каждому клиенту
					</div>
			</div>
			<div class="one-of-we2">
				<img src="images/news/1.jpg" alt="">
					<div>
						Тщательно и заботливо подбираем авто каждому клиенту
					</div>
			</div>
			<div class="one-of-we2">
				<img src="images/news/1.jpg" alt="">
					<div>
						Тщательно и заботливо подбираем авто каждому клиенту
					</div>
			</div>
			<div class="one-of-we2">
				<img src="images/news/1.jpg" alt="">
					<div>
						Тщательно и заботливо подбираем авто каждому клиенту
					</div>
			</div> -->
	

		<!-- <div class="line-separate"></div> -->



		<!-- <div class="info_telechanel">
			<div>Компания «Formula EV» – это компания будущего. Мы занимаемся поиском и доставкой электромобилей из Китая. В нашу работу входит не только доставка электромобилей, а также подбор качественных и надежных моделей электромобилей, организация их транспортировки и доставки, а также предоставление гарантий на продукцию. Мы стремимся быть лидерами в области экологически чистого транспорта и постоянно развиваемся, внедряя новые технологии и улучшая качество наших услуг. Наша команда профессионалов всегда готова помочь нашим клиентам и ответить на все вопросы, связанные с приобретением электромобиля. Электромобили – это наше будущее. Они не только экологически чисты, но и экономичны в использовании. Наша компания стремится сделать электромобили доступными для всех, чтобы каждый мог внести свой вклад в сохранение окружающей среды и экономию на топливе. Мы гордимся тем, что наша работа помогает сделать мир лучше и заботиться о будущих поколениях. </div>
		</div>

		<div class="telechanel_photo">
			<div>Компания «Formula EV» – это компания будущего. Мы занимаемся поиском и доставкой электромобилей из Китая. В нашу работу входит не только доставка электромобилей, а также подбор качественных и надежных моделей электромобилей, организация их транспортировки и доставки, а также предоставление гарантий на продукцию. Мы стремимся быть лидерами в области экологически чистого транспорта и постоянно развиваемся, внедряя новые технологии и улучшая качество наших услуг. Наша команда профессионалов всегда готова помочь нашим клиентам и ответить на все вопросы, связанные с приобретением электромобиля. Электромобили – это наше будущее. Они не только экологически чисты, но и экономичны в использовании. Наша компания стремится сделать электромобили доступными для всех, чтобы каждый мог внести свой вклад в сохранение окружающей среды и экономию на топливе. Мы гордимся тем, что наша работа помогает сделать мир лучше и заботиться о будущих поколениях. </div>
		</div> -->
	<!-- <div class="line-separate"></div> -->

	<div style="background-color: #ebebeb; padding-top: 1px;">
		<div class="headers">
			Как заказать авто?
		</div>
		<ul class="action_list">
			<li class="list_sequence">
				<div class="number_list">1</div>
				<div class="photo_action">
					<img src="images/icons/car.png" alt="">
				</div>
				<div class="description_photo">Подобрать подходящий автомобиль на нашем сайте или в нашем-телеграм канале</div>
			</li>
			<li class="list_sequence">
				<div class="number_list">2</div>
				<div class="photo_action">
					<img src="images/icons/agreement.png" alt="">
				</div>
				<div class="description_photo">Заключить Договор, внести предоплату 50%</div>
			</li>
			<li class="list_sequence">
				<div class="number_list">3</div>
				<div class="photo_action">
					<img src="images/icons/warehouse.png" class="photo_action" alt="">
				</div>
				<div class="description_photo">Автомобиль прибывает на таможенный склад в Индустриальный парк Великий Камень</div>
			</li>
			<li class="list_sequence">
				<div class="number_list">4</div>
				<div class="photo_action">
					<img src="images/icons/car-insurance.png" class="photo_action" alt="">
				</div>
				<div class="description_photo">Воспользоваться дополнительным сервисом IT-CAR. BY по прохождению таможни, либо растаможить самостоятельно</div>
			</li>
		</ul>
	</div>
	
	<div style="background-color: #4F4F4F; width: 100%; padding-bottom: 40px; padding-top: 40px;">
		<div class="headers2">
			Сколько в конечном счете будет стоить авто?
		</div>
		<ol class="square">
			<li>На сайте указаны цены CPT. *Цена CPT включает в себя конечную стоимость автомобиля с учётом экспортного оформления, а также затраты на доставку, погрузку/разгрузку и склад. Т.е. цены, которые Вы видите, это цена автомобиля по факту прибытия  в Беларусь </li>
			<li>Растаможка авто: оплатить пошлину (в зависимости от типа авто: электрокары - 0%, авто ДВС - рассчитывается на каждый автомобиль индивидуально), оплатить таможенный сбор, оплатить утилизационный сбор, поставить на учет в ГАИ, либо воспользоваться дополнительной услугой IT-CAR. BY авто под ключ - 500$)</li>
		</ol>
	</div>

	<!-- <div class="headers">
		Преимущества работы с нами
	</div>
	<ul id="why_us">
		<li>
			<div class="number_list2">1</div>
			<div class="photo_action2">
				<img src="images/icons/openprice.png" alt="">
			</div>
			<div class="description_photo2">Открытая ценовая политика: как для Покупателей, так и для Партнеров - Вы знаете каждый шаг</div>
		</li>
		<li>
			<div class="number_list2">2</div>
			<div class="photo_action2">
				<img src="images/icons/delivery.png" alt="">
			</div>
			<div class="description_photo2">Доставка: Мы работаем с крупнейшей международной логистической компанией: China Merchants Group. Объемы перевозок и их постоянство позволяют сократить расходы и доставить Ваш автомобиль как можно скорее</div>
		</li>
		<li>
			<div class="number_list2">3</div>
			<div class="photo_action2">
				<img src="images/icons/safe.png" alt="">
			</div>
			<div class="description_photo2">Все авто страхуются на время перевозки</div>
		</li>
		<li>
			<div class="number_list2">4</div>
			<div class="photo_action2">
				<img src="images/icons/sender.png" alt="">
			</div>
			<div class="description_photo2">Наш Поставщик является одним из крупнейших  автодилеров Китая и входит в ТОП лучших. Имеет более 200 автоцентров по всему Китаю</div>
		</li>
		<li>
			<div class="number_list2">5</div>
			<div class="photo_action2">
				<img src="images/icons/less_money.png" class="photo_action" alt="">
			</div>
			<div class="description_photo2">Снижение рисков: оплачивая лишь 50% Ваши риски значительно снижаются, вторые 50% Вы оплачиваете только когда сами лично потрогаете авто и убедитесь, что все в порядке</div>
		</li>
		<li>
			<div class="number_list2">6</div>
			<div class="photo_action2">
				<img src="images/icons/certificate.png" class="photo_action" alt="">
			</div>
			<div class="description_photo2">Гарантии: Поставщик предоставляет Сертификат заводского соответствия готовых автомобилей КНР, что означает, авто соответствует всем международным стандартам</div>
		</li>
		<li>
			<div class="number_list2">7</div>
			<div class="photo_action2">
				<img src="images/icons/diagnosis.png" class="photo_action" alt="">
			</div>
			<div class="description_photo2">Диагностика: авто диагностируется и высылается Вам полная информация об автомобиле</div>
		</li>
		<li>
			<div class="number_list2">8</div>
			<div class="photo_action2">
				<img src="images/icons/car-ok.png" class="photo_action" alt="">
			</div>
			<div class="description_photo2">Проверка перед отправкой: в Китае работает наш сотрудник, который проверяет авто перед отправкой, также он высылает Вам фото/видео всего процесса, Вы будете видеть все своими глазами</div>
		</li>
		<li>
			<div class="number_list2">9</div>
			<div class="photo_action2">
				<img src="images/icons/call-center.png" class="photo_action" alt="">
			</div>
			<div class="description_photo2">Связь с нами 24/7: мы не похожи на стандартные офисы с 9 до 17, мы на связи для Вас 24/7</div>
		</li>
	</ul> -->
	<!-- <div class="line-separate"></div> -->

	<div style="background-color: #ffffff; width: 100%; padding-bottom: 40px; padding-top: 40px;">
		<div class="same_cars">
			<div class= "backgr_name">
				<div class="name_same">Наша команда</div>
			</div>
			<div id="team_block">
				<div class="team_photos">	
					<img src="images/team/anya.JPG" alt="">
					<div class="team_text">
						<div class="team_name">Анна Пинчук </div>
						<div class="team_description">Клиентский сервис, логистика</div>
					</div>
				</div>
				<div class="team_photos">
					<img src="images/team/suyang.JPG" alt="">
					<div class="team_text">
						<div class="team_name">Линь Суян</div>
						<div class="team_description">Работа с Поставщиками, закупками</div>
					</div>
				</div>
				<div class="team_photos">
					<img src="images/team/darya.jpg" alt="">
					<div class="team_text">
						<div class="team_name">Дарья Кончиц</div>
						<div class="team_description">Работа с клиентами, дизайнер</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="infa">
		<div class="headers3">
			Данные для связи
		</div>
		<div id="infa_main">
			<div class="one-of-we">
				<img src="images/icons/phone-call.png" alt="">
				<div id="infa_cell1">Телефон</div>
				<a href="tel:375296349842"><div id="infa_cell2">+375 (29) 634-98-42</div></a>
			</div>
			<div class="gray_vert_line"></div>
			<div class="one-of-we">
				<img src="images/icons/composed.png" alt="">
				<div id="infa_cell1">Почта</div>
				<a href="mailto:info.itcar@gmail.com"><div id="infa_cell2">info.itcar@gmail.com</div></a>
			</div>
			<div class="gray_vert_line"></div>
			<div class="one-of-we">
				<img src="images/icons/location-sign.png" alt="">
				<div id="infa_cell1">Адрес</div>
				<a href="https://goo.gl/maps/iWmL2pj47pDhHYwj6"><div id="infa_cell2">г. Минск, ТЦ «Сеница»</div></a>
			</div>
		</div>
	</div>

	<div class="contact_main">
		<div class="headers">
			Мы открылись!
		</div>
		<div class="info_salon">
			<div class="salon_photo"><img src="images/news/salon.jpg"></div>
			<div class="contact_text">
				Наши двери уже открылись для всех, кто стремится к передовым технологиям и уважению к нашей планете. В нашем шоуруме вы найдете эксклюзивный выбор электромобилей, сочетающих в себе высокую производительность, стильный дизайн и энергоэффективность. Мы приглашаем вас погрузиться в мир будущего, где чистая энергия и умные технологии сочетаются с роскошью и комфортом. Наша команда профессионалов всегда готова помочь вам выбрать идеальное решение, соответствующее вашим потребностям и желаниям. Следите за обновлениями - скоро вы сможете насладиться лучшим выбором электромобилей. Готовьтесь к впечатляющему путешествию в мир новаторских возможностей на колесах!			</div>
		</div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2354.4156223758514!2d27.500375390150733!3d53.835471266948495!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd183f4119073%3A0x662f6af61a8167c2!2z0KLQpiDQodCV0J3QmNCm0JA!5e0!3m2!1sru!2sby!4v1701212880839!5m2!1sru!2sby" width="90%" height="450" style="margin-top: 40px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
    <!-- </div>
    </div> -->

    @section AfterBody{
        <script src="js/carShortFilter.js"></script>
    }