@{
    string mainPage = "", passengerPage = "", newsPage = "", contact_usPage = "", aboutusPage = "", paymentPage= "", deliveryPage="", servicePage= "";
    switch (ViewData["activePage"]){
        case "mainPage":
            mainPage = "active";
            break;
        case "passengerPage":
            passengerPage = "active";
            break;
        case "newsPage":
            newsPage = "active";
            break;
        case "contact_usPage":
            contact_usPage = "active";
            break;
        case "aboutusPage":
            aboutusPage = "active";
            break;
        case "paymentPage":
            paymentPage = "active";
            break; 
        case "deliveryPage":
            deliveryPage = "active";
            break;
        case "servicePage":
            servicePage = "active";
            break;
    }
}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@ViewData["Title"] - formulaev.net</title>		
        <meta name="description" content="@ViewData["Description"]">	
        <meta name="keywords" content="@ViewData["Keywords"]">	
        @RenderSection("Headers",false)
        <link rel="shortcut icon" href="@ViewData["pathPrefix"]favicon.ico" type="image/x-icon" sizes="16x16">
        <link rel="shortcut icon" href="@ViewData["pathPrefix"]favicon_32.ico" type="image/x-icon" sizes="32x32">
        <link rel="shortcut icon" href="@ViewData["pathPrefix"]favicon_64.ico" type="image/x-icon" sizes="64x64">
	    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="@ViewData["pathPrefix"]css/styles.css">
	    <script src="https://kit.fontawesome.com/71471d07af.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
	<body>
        <div id="all-body">
		    <div class="header_top">			
			    <div class="header_contacts">			 
				    <div class="logo_header">
                    <a href="@ViewData["pathPrefix"]./"><img id="logotype" src= "@ViewData["pathPrefix"]images/logo/logo_main.png" alt="no image"></a>	
				    </div>
                    <div class="new_menu">
                        <ul>
                            <li id="main" class="new_back @mainPage"><a href="@ViewData["pathPrefix"]./">Главная</a></li>
                            <li id="passenger" class="new_back @passengerPage"><a href="@ViewData["pathPrefix"]passenger">Каталог</a></li>
                            <li id="dealers" class="new_back @newsPage"><a href="@ViewData["pathPrefix"]all-news">Новости</a></li>
                            <li id="aboutus" class="new_back @aboutusPage"><a href="@ViewData["pathPrefix"]aboutus">О нас</a></li>
                            <li id="contacts" class="new_back @contact_usPage"><a href="@ViewData["pathPrefix"]contact_us">Контакты</a></li>
                            <li id="passenger" class="new_back"><a href="https://xiaomi.formulaev.net/">Xiaomi SU 7</a></li>
                        </ul>
                    </div>    
                    
                    <ul id="center_up_list">
                    <li class="center_contacts"><a class="container_1 header_phone transition2" href="tel:375296349842"><i class="fas fa-phone fa-rotate-90"></i>+375 (29) 634-98-42</a></li>
                    <li class="center_contacts"><a class="container_1 header_email transition2" href="mailto:info.itcar@gmail.com"><i class="fas fa-envelope"></i>info.itcar@gmail.com</a></li>
				    </ul>
				    <i class="fas fa-bars" id="open_list"></i>		
			    </div>
		    </div>

            <div id="water_div"></div>

            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>

            <div id="arrow_up">
                <i class="fas fa-arrow-up" id="arrow_id"></i>
            </div>
            <div id="end_box">
                <div class="end_menu" id="left_end_block">
                    <img id="end_logotype" src= "@ViewData["pathPrefix"]images/logo/logo_main.png" alt="no image">
                    <br>УНП 693156318
                    <br>Общество с ограниченной ответственностью «Интеллект Трейдинг», 2021-2024 г.
                    <br>
                    <br><br>
                    <br>Юридический адрес: 223056, Беларусь, Минская область, г. Минск, ТЦ «Сеница», Сеницкий сельсовет, 84
                </div>
                <div class="end_menu">	
                    Обращаем ваше внимание на то, что, вся информация на сайте носит рекламный характер и не является публичной офертой. Стоимость каждого автомобиля является индивидуальной. Окончательная стоимость отражается в заключенном договоре. Изображения автомобилей на сайте представлены для ознакомления и могут отличаться от реализуемых автомобилей<br>
                    <br><br>
                      Более подробную и актуальную информацию можно получить у менеджеров по телефону: <a href="tel:375296349842"><b>+375 (29) 634-98-42</b></a>			
                </div>
                <br>
                <div class="end_menu">		
                    <a href="tel:375296349842"><i class="fas fa-phone fa-rotate-90"></i></a>	
                    <a href="https://telegram.me/it_car_by"><i class="fab fa-telegram"></i></a>
                    <a href="https://www.instagram.com/formulaev_net/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.tiktok.com/@@formulaev.net?_t=8l7VknBfGhJ&_r=1"><i class="fab fa-tiktok"></i></a>
                    <a href="https://www.youtube.com/@@formulaev_net"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="last_line">
                    © 2021-2024 ООО «Интеллект Трейдинг» — все права защищены
                </div>
            </div>
            <script src="@ViewData["pathPrefix"]js/up_panel.js"></script>
        </div>
    @RenderSection("AfterBody", false)
	</body>
</html>