@using CarsClient;
@model IEnumerable<CarsClient.Models.Dto.CarShortInfo>

@{
	ViewData["Title"] = "admin - Купить электромобили по ценам от Поставщика";
	ViewData["activePage"] = "passengerPage";
	ViewData["Description"] = "Электромобили Tesla, BYD, Volkswagen, Xpeng, Cherry и др. Надежные электрокары по сниженной цене. Доставка. Финансовая поддержка. Гарантии. Страховка. Круглосуточная связь | " + ViewData["Postfix"];
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
	ViewData["pathPrefix"] = "../";
}

<div class="panel commercial">
	<h1>Электромобили из Китая</h1>
</div>
<a id="add_car_block" href="create">
    <i class="fas fa-plus"></i> Добавить автомобиль...
</a>
<div id="car_list_id">
	<div id="list_border">
		<ul class="car_list" id="car_list">
			@foreach (var item in Model)
			{
				<li>
					<i class="far fa-trash-alt delete_car_icon" data-carId="@item.Id"></i>
					<a href="car/@item.Id"><img src="@item.TitleImagePath" alt="no image"></a>
                    <div class="short_car_info">
                        <div>
                            <div id="name_car_list">
                                <a href="car/@item.Id">@item.ModelName</a>
                            </div>
                            <ul>
                                @foreach (var prop in item.Properties)
                                {
                                    <li class="each_info">
                                        <div class="car_option">
                                            <img src="@ViewData["pathPrefix"]images/icons/road.png">
                                            <div>@prop.Property</div>
                                        </div>
                                        <div class="option_value">@prop.Value</div>
                                    </li>
                                }
                                <li class="each_info">
                                    <div class="car_option">
                                        <img src="@ViewData["pathPrefix"]images/icons/condition.svg">
                                        <div>Состояние</div>
                                    </div>
                                    <div class="option_value">Новое</div>
                                </li>
                            </ul>
                        </div>
                        <div class="short_price">

                            <a href="car/@item.Id" class="a_price">
                                <div style="width: 100%;">
                                    Подробнее
                                </div>
                            </a>

                        </div>
                    </div>
				</li>
			}
		</ul>
	</div>
</div>	

@section AfterBody{
	<script src="@ViewData["pathPrefix"]../js/adminCarsIteraction.js"></script>
}