@using CarsClient;
@model CarsClient.Models.Dto.CarFullInfo;

@{
	ViewData["Title"] = Model.ModelName + " купить в Минске недорого – Цена с учетом доставки";
	ViewData["Description"] = Model.Description + " | " + GlobalVariables.Postfix;
	ViewData["activePage"] = "passengerPage";
	Layout = "~/Views/Shared/_Layout_Admin.cshtml";
	ViewData["pathPrefix"] = "../../";
}
	<div class="panel commercial">	
		<h1>@Model.ModelName</h1>
	</div>
	<a href="../update/@Model.Id" id="eddit_button">
		<i class="far fa-edit"></i>
	</a>
	
	<div class="car_information">	
		<div class="all">
			<input checked type="radio" name="respond" id="desktop">
			<div id="slider">
			@for(int i= 1; i< Model.Images.Count+1; i++)
				{
					if (i == 1)
					{
						<input checked type="radio" name="slider" id="switch_1">
					}
					else{
						<input type="radio" name="slider" id= "switch_@i">
					}
				}
				<div id="slides">
					<div id="overflow">
						<div class="image">
							@foreach(var item in Model.Images)
							{
								<article><img src="@ViewData["pathPrefix"]../images/cars/@item.Path"></article>
							}
						</div>
					</div>
					<div id="__left_block"></div>
					<div id="__right_block"></div>
				</div>
						
				<div id="controls">
					@for(int i= 1; i< Model.Images.Count+1; i++)
					{
						<label for="switch_@i"></label>
					}
				</div>
				<div id="active">
					@for(int i= 1; i< Model.Images.Count+1; i++)
					{
						<label 	style= "background-image: url('@ViewData["pathPrefix"]../images/cars/@Model.Images[i-1].Path');" for="switch_@i"></label>
					}
				</div>		
			</div>			
		</div>
		<table class="info">
			<tr style="top:-10%;">
				<td style="vertical-align:bottom;">
					<div id="model">@Model.ModelName</div>
					<div id="price"> Цена с учётом доставки: <b>$@Model.Price.ToString("N", System.Globalization.CultureInfo.CreateSpecificCulture("en-US"))</b></div>	
				</td>  
			</tr>
		</table>
	</div>	
	<div id="box_characterstics">
		<div id="car_characterstics">
			<div class= "backgr_name">
				<div id="tech_ch">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</div>
			</div>					
			<ul>				
				<li> <img src="@ViewData["pathPrefix"]../images/icons/brand.png">Марка <span>@Model.CompanyName</span></li>
				<li> <img src="@ViewData["pathPrefix"]../images/icons/color.png">Цвет <span>@Model.Color</span></li>
				<li> <img src="@ViewData["pathPrefix"]../images/icons/calendar.png">Год производства <span>@Model.ProductionYear</span></li>
				@foreach(var item in Model.Properties)
				{
					if (item.IsKeyProperty)
					{
						<li> <img src="@ViewData["pathPrefix"]../images/icons/road.svg">@item.Property <span>@item.Value</span></li>
					}
				}
			</ul>
			<div class="add_info" id="add_info">
				@foreach(var item in Model.Properties)
				{
					if (!item.IsKeyProperty)
					{
						<div class="mesta main_border">
							<div class="__left">@item.Property</div><div class="__right">@item.Value</div>
						</div>
					}
				}			
			</div>
			<div id="more_info">
				<div id="box_more">
					<div id="more">
						Развернуть
						<img src="@ViewData["pathPrefix"]../images/icons/vnis_new.svg" alt="">
					</div>
					<div id="less">
						Свернуть
						<img src="@ViewData["pathPrefix"]../images/icons/vverh_new.svg" alt="">
					</div>
				</div>						
			</div>
		</div>				
	</div>
			
	
@if (Model.SameCars.Count > 0)
{
	<div style=" width: 100%; padding-bottom: 40px;"> 
		<div id="same_cars">
			<div class= "backgr_name">
				<div id="name_same">ПОХОЖИЕ АВТО</div>
			</div>						
			<div id="box_same_cars">
				@for(var i =0; i < Model.SameCars.Count && i <4; i++)
				{
					<div class="list_same_cars">
					<div style="overflow: hidden;"><a href="../car/@Model.SameCars[i].Id"><img src="@ViewData["pathPrefix"]images/cars/@Model.SameCars[0].TitleImage" alt="no image"></a></div>
					<div id="name_same_car">@Model.SameCars[i].ModelName</div>
					<div id="price_same_car">@Model.SameCars[i].Color</div>
					<a href="../car/@Model.SameCars[i].Id"><div class="same_button">Подробнее</div></a>
				</div>
				}						
			</div>		
		</div>
	</div>
}
	

@section AfterBody{
	<script src="@ViewData["pathPrefix"]../js/car_parameters.js"></script>
}

@section Headers{
    <style>

   #slider { 
   position: relative;
   text-align: center;
   top: 10px;
   width:100%; 
   }

   #slider{ 
   margin: 0 auto;
   }
  
   @ViewData["carStyles0"]

   #overflow{ 
   width: 100%;
   overflow: hidden;
   }

   article img{ 
   width: 100%;
   }

   #desktop:checked ~ #slider{ 
   max-width: 700px; 
   }

   
   @ViewData["carStyles1"]


   label, a{ 
   cursor: pointer;
   }

   .all input, #slider input{ 
   display: none;
   }

   
   @ViewData["carStyles2"]

   #active label{ 
   border-radius: 0; 
   display: inline-block; 
   width: 80px;
   height: 60px;
   margin-bottom: 2px;
   margin-top: 0px;
   background-size: cover;
   opacity: 0.6;	
   }

   #active{ 

   text-align: center;
   }

   #active label:hover{ 
   opacity: 1;
   }

   @ViewData["carStyles3"]

   #slides {
      margin-bottom: 15px;
   }

   #slides .image{ 
   transition: all 500ms cubic-bezier(.94,.68,.44,1.01);
   }

   #controls label:hover{ 
   opacity: 0.6;
   }

   #controls label{ 
   transition: opacity 0.2s ease-out;
   }
   @@media (max-width: 877px)
   {
      .__left{
         margin-left: 15px;
      }
      .__right{
         margin-right: 15px;
      }
   }




	</style>
}