@model CarsClient.Models.Dto.CarFullInfoDto;

@{
	ViewData["Title"] = "Купить " + Model.ModelName + " из Китая в Беларусь, цена - Минск";
	ViewData["Description"] = Model.Description + " | " + ViewData["Postfix"];
	ViewData["activePage"] = "passengerPage";
	ViewData["Keywords"] = "электромобили, отзывы на электромобили, цены на электромобили, электромобиль bmw, электромобиль xiaomi, электромобиль lixiang, электромобиль volkswagen, электромобиль zeekr, tesla купить Минск, гибридный автомобиль";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["pathPrefix"] = "../";
}

	<div class="panel commercial">	
		<h1>@Model.ModelName</h1>
	</div>
	<div class="car_information">	
		<div class="all">
			<input checked type="radio" name="respond" id="desktop">
			<div id="slider">
			@for(int i= 1; i< Model.Images.Count+1; i++)
				{
					if (i == 1)
					{
						<input checked type="radio" name="slider" id="switch_1">
					}
					else{
						<input type="radio" name="slider" id= "switch_@i">
					}
				}
				<div id="slides">
					<div id="overflow">
						
						<div class="image">
							@foreach(var item in Model.Images)
							{
								<article><img src="@item.Path"></article>
							}
						</div>
					</div>
					<div id="__left_block"></div>
					<div id="__right_block"></div>
				</div>
						
				<div id="controls">
					@for(int i= 1; i< Model.Images.Count+1; i++)
					{
						<label for="switch_@i"></label>
					}
				</div>
				<div id="active">
					@for(int i= 1; i< Model.Images.Count+1; i++)
					{
						<label 	style= "background-image: url('@Model.Images[i-1].Path');" for="switch_@i"></label>
					}
				</div>		
			</div>			
		</div>
		<table class="info">
			<tr style="top:-10%;">
				<td style="vertical-align:bottom;">
					<div id="model">@Model.ModelName</div>
					<div id="price"> Цена с учётом доставки: <b>$@Model.Price.ToString("N0", System.Globalization.CultureInfo.InvariantCulture)</b></div>
					<button id="make-order">Заказать</button>		
				</td>  
			</tr>
		</table>
	</div>	
	<div id="box_characterstics">
		<div id="car_characterstics">
			<div class= "backgr_name">
				<div id="tech_ch">Технические характеристики</div>
			</div>					
			<ul>				
				<li> <img src="@ViewData["pathPrefix"]../images/icons/calendar.png">Модельный год <span>@Model.ProductionYear</span></li>
                <li> <img src="@ViewData["pathPrefix"]../images/icons/car_type.png">Кузов <span>@Model.CarType</span></li>

			@foreach(var category in Model.Categories)
			{
				@foreach(var item in category.Properties)
				{
					if (item.IsKeyProperty)
					{
						<li> <img src="@ViewData["pathPrefix"]../images/icons/property.png">@item.Property <span>@item.Value</span></li>
					}
				}
			}
			
			</ul>
			<div class="add_info" id="add_info">
			@foreach(var category in Model.Categories)
			{
				if(category.Properties.Any(x=> !x.IsKeyProperty))
				{
					<div class="type_separate">@category.Category</div>
				}
				@foreach(var item in category.Properties)
				{
					if (!item.IsKeyProperty)
					{
						<div class="mesta main_border">
							<div class="__left">@item.Property</div><div class="__right">@item.Value</div>
						</div>
					}
				}
			}

			</div>
			<div id="more_info">
				<div id="box_more">
					<div id="more">
						Развернуть
						<img src="@ViewData["pathPrefix"]../images/icons/vnis_new.svg" alt="">
					</div>
					<div id="less">
						Свернуть
						<img src="@ViewData["pathPrefix"]../images/icons/vverh_new.svg" alt="">
					</div>
				</div>						
			</div>
		</div>				
	</div>
			
			
	<div id="call_us">
		<div style="margin: auto; width: 80%; margin-top: 20px; margin-bottom: 20px; font-size: 23px; line-height: 32px ;" >
			Для уточнения деталей и заказа авто свяжитесь с нами
			<a href="tel:375296349842"><b id="mynumber">+375 (29) 634-98-42</b></a>
				<div class="tooltip"> 
					<div onclick="myFunction()" onmouseout="outFunc()">
					<span class="tooltiptext" id="myTooltip">Копировать</span>
					<img style="width: 20px;" src="@ViewData["pathPrefix"]../images/icons/copy.png" alt="">
					</div>
				</div>
				(все мессенджеры), либо заходите в наш <a class="call_us_tg" href="https://t.me/it_car_by_channel">телеграм-канал</a> 
		</div>						
	</div>
@if (Model.SameCars.Count > 0)
{
	<div style=" width: 100%; padding-bottom: 40px;"> 
		<div id="same_cars">
			<div class= "backgr_name">
				<div id="name_same">Похожие авто</div>
			</div>						
			<div id="box_same_cars">
				@for(var i =0; i < Model.SameCars.Count && i <4; i++)
				{
					<div class="list_same_cars">
					<div style="overflow: hidden;"><a href="../car/@Model.SameCars[i].Id"><img src="@Model.SameCars[0].TitleImage" alt="no image"></a></div>
					<div id="name_same_car">@Model.SameCars[i].ModelName</div>
					<a href="../car/@Model.SameCars[i].Id"><div class="same_button">Подробнее</div></a>
				</div>
				}							
			</div>		
		</div>
	</div>
}

	<div style="background-color: #ffffff; width: 100%; padding-top: 50px; padding-bottom: 10px;">
		<div class="same_cars">
			<div class="backgr_name">
				<div id="name_same">Наш телеграм-канал</div>
			</div>
			<div id="our_telegram_chanel">В нашем телеграм-канале мы постоянно выкладываем новые предложения, различные обзоры электричек, актуальные цены, различные аксесуары для Ваших электрокаров!
				<div id="link_telchanel">
					<a href="https://t.me/it_car_by_channel"><div class="same_button2">Перейти на канал</div></a>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <div style="width: 100%; padding-bottom: 40px; margin-top: 40px;">
		<div class="same_cars">
			<div class= "backgr_name">
				<div id="name_same">На телеграм-канал</div>
			</div>
			<div id="our_telegram_chanel">
				Еще больше авто в нашем телеграм-канале
			</div>
			<div id="link_telchanel">
				<a href="https://t.me/it_car_by_channel">https://t.me/it_car_by_channel</a>
			</div>
					
		</div>
	</div> -->

@section AfterBody{
	<div id="pop-order">
		<div id="order-all"></div>
		<div id="add_place">
			<div class="external_order">					
				<form id= "order-form" class="order" method="POST" action="@ViewData["mailAddress"]">			
					<i id="icon-close" class="fas fa-times"></i>
					<input type="hidden" name="car_id" value="@ViewData["CarPageAddress"]"/>
					<div class="form-group" id="span">
						Оставить заявку
					</div>
					<div class="form-group">						
						<input type="text" name="name" class="order-control" placeholder="Имя *" required>
						<input type="email" name="email" class="order-control" placeholder="Электронная почта *" required>
					</div>
					<div class="form-group">
						<input type="tel" name="phone" class="order-control" placeholder="Телефон">
					</div>
					<button type="submit" style="cursor: pointer;">Отправить</button>
				</form>	
			</div>
		</div>	
	</div>
	<script src="@ViewData["pathPrefix"]../js/make_order.js"></script>
	<script src="@ViewData["pathPrefix"]../js/car_parameters.js"></script>
}

@section Headers{
    <style>

   #slider { 
   position: relative;
   text-align: center;
   top: 10px;
   width:100%; 
   }

   #slider{ 
   margin: 0 auto;
   }
  
   @ViewData["carStyles0"]

   #overflow{ 
   width: 100%;
   overflow: hidden;
   }

   article img{ 
   width: 100%;
   }

   #desktop:checked ~ #slider{ 
   max-width: 700px; 
   }

   
   @ViewData["carStyles1"]


   label, a{ 
   cursor: pointer;
   }

   .all input, #slider input{ 
   display: none;
   }

   
   @ViewData["carStyles2"]

   #active label{ 
   border-radius: 0; 
   display: inline-block; 
   width: 80px;
   height: 60px;
   margin-bottom: 2px;
   margin-top: 0px;
   background-size: cover;
   opacity: 0.6;	
   }

   #active{ 

   text-align: center;
   }

   #active label:hover{ 
   opacity: 1;
   }

   @ViewData["carStyles3"]

   #slides {
      margin-bottom: 15px;
   }

   #slides .image{ 
   transition: all 500ms cubic-bezier(.94,.68,.44,1.01);
   }

   #controls label:hover{ 
   opacity: 0.6;
   }

   #controls label{ 
   transition: opacity 0.2s ease-out;
   }
   @@media (max-width: 877px)
   {
      .__left{
         margin-left: 15px;
      }
      .__right{
         margin-right: 15px;
      }
   }


	</style>
}